<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css"> 
</head>
<body>
    <header>
            <img src="/imagenes/logo-mercado-liebre.svg">
            <div class="Busqueda">
                <input type="text" placeholder="Buscar productos, marca">
            </div>
            <div><i class="fas fa-search"></i></div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>  
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="Creá tu cuenta">Creá tu cuenta</i></a><i class="far fa-id-card"></i></i></li>
                <li><a href="Ingresá">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="Mis compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <divclass="burger-menu"><i class="fas fa-bars"></i></div>
        </nav>
    </header>
    <main>
        <section class="ultima vista">
        <h3>Sección: Basado en tu última visita</h3>

            <img src="/imagenes/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>

            <img src="/imagenes/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/imagenes/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/imagenes/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>

        <section class="Ofertas">
        <h3>Sección de Ofertas</h3>

            <img src="/imagenes/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>

            <img src="/imagenes/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/imagenes/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/imagenes/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>    
         
    </main>
    <footer>
            <h5>Pago con tarjeta o efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
    </footer>
</body>
</html>